In [1]:
%%html
<style>
.output_wrapper, .output {
    height:auto !important;
    max-height:350px;  /* your desired max-height here */
}
.output_scroll {
    box-shadow:none !important;
    webkit-box-shadow:none !important;
}
</style>

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Using advanced options while reading data from csv files

## Import Module(s)

In [2]:
import pandas as pd

## The most basic read

In [4]:
df = pd.read_csv('IMDB.csv', encoding = "ISO-8859-1")
df.head()

,X,Title,Rating,TotalVotes,Genre1,Genre2,Genre3,MetaCritic,Budget,Runtime,...,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS,Domestic,Foreign,Worldwide
0,1,12 Years a SlaveÂ (2013),8.1,496092,Biography,Drama,History,96.0,20000000.0,134 min,...,7.8,7.8,8.1,8.0,7.7,8.3,8.0,"$56,671,993",131061209,"$187,733,202"
1,2,127 HoursÂ (2010),7.6,297075,Adventure,Biography,Drama,82.0,18000000.0,94 min,...,7.3,7.3,7.5,7.6,7.0,7.7,7.6,"$18,335,230",42403567,"$60,738,797"
2,3,50/50Â (2011),7.7,283935,Comedy,Drama,Romance,72.0,8000000.0,100 min,...,7.4,7.4,7.5,7.4,7.0,7.9,7.6,"$35,014,192",4173591,"$39,187,783"
3,4,About TimeÂ (2013),7.8,225412,Comedy,Drama,Fantasy,NaN,12000000.0,123 min,...,7.6,7.5,7.8,7.7,6.9,7.8,7.7,"$15,322,921",71777528,"$87,100,449"
4,5,AmourÂ (2012),7.9,76121,Drama,Romance,NaN,94.0,8900000.0,127 min,...,7.9,7.8,8.1,6.6,7.2,7.9,7.8,"$6,739,492",13100000,"$19,839,492"

## Advanced read options

## Manipulating Column & Index Locations and Names

### No header or column names

In [5]:
df = pd.read_csv('IMDB.csv', encoding = "ISO-8859-1", header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,X,Title,Rating,TotalVotes,Genre1,Genre2,Genre3,MetaCritic,Budget,Runtime,...,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS,Domestic,Foreign,Worldwide
1,1,12 Years a SlaveÂ (2013),8.1,496092,Biography,Drama,History,96,20000000,134 min,...,7.8,7.8,8.1,8,7.7,8.3,8,"$56,671,993",131061209,"$187,733,202"
2,2,127 HoursÂ (2010),7.6,297075,Adventure,Biography,Drama,82,18000000,94 min,...,7.3,7.3,7.5,7.6,7,7.7,7.6,"$18,335,230",42403567,"$60,738,797"
3,3,50/50Â (2011),7.7,283935,Comedy,Drama,Romance,72,8000000,100 min,...,7.4,7.4,7.5,7.4,7,7.9,7.6,"$35,014,192",4173591,"$39,187,783"
4,4,About TimeÂ (2013),7.8,225412,Comedy,Drama,Fantasy,NaN,12000000,123 min,...,7.6,7.5,7.8,7.7,6.9,7.8,7.7,"$15,322,921",71777528,"$87,100,449"

### Specify a different row as header

In [6]:
df = pd.read_csv('IMDB.csv', encoding = "ISO-8859-1", header=2)
df.head()

,2,127 HoursÂ (2010),7.6,297075,Adventure,Biography,Drama,82,18000000,94 min,...,7.3,7.3.1,7.5.3,7.6.3,7,7.7.2,7.6.4,"$18,335,230",42403567,"$60,738,797"
0,3,50/50Â (2011),7.7,283935,Comedy,Drama,Romance,72.0,8000000.0,100 min,...,7.4,7.4,7.5,7.4,7.0,7.9,7.6,"$35,014,192",4173591,"$39,187,783"
1,4,About TimeÂ (2013),7.8,225412,Comedy,Drama,Fantasy,NaN,12000000.0,123 min,...,7.6,7.5,7.8,7.7,6.9,7.8,7.7,"$15,322,921",71777528,"$87,100,449"
2,5,AmourÂ (2012),7.9,76121,Drama,Romance,NaN,94.0,8900000.0,127 min,...,7.9,7.8,8.1,6.6,7.2,7.9,7.8,"$6,739,492",13100000,"$19,839,492"
3,6,ArgoÂ (2012),7.7,486840,Action,Biography,Drama,86.0,44500000.0,120 min,...,7.7,7.7,8.0,8.1,7.2,8.0,7.6,"$136,025,503",96300000,"$232,325,503"
4,7,ArrivalÂ (2016),8.0,370842,Drama,Mystery,Sci-Fi,81.0,47000000.0,116 min,...,7.6,7.6,7.7,8.3,7.3,8.0,7.9,"$100,546,139",102842047,"$203,388,186"

### Specify a column as index

In [7]:
df = pd.read_csv('IMDB.csv', encoding = "ISO-8859-1", index_col='Title')
df.head()

,X,Rating,TotalVotes,Genre1,Genre2,Genre3,MetaCritic,Budget,Runtime,CVotes10,...,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS,Domestic,Foreign,Worldwide
Title,,,,,,,,,,,,,,,,,,,,,
12 Years a SlaveÂ (2013),1,8.1,496092,Biography,Drama,History,96.0,20000000.0,134 min,75556,...,7.8,7.8,8.1,8.0,7.7,8.3,8.0,"$56,671,993",131061209,"$187,733,202"
127 HoursÂ (2010),2,7.6,297075,Adventure,Biography,Drama,82.0,18000000.0,94 min,28939,...,7.3,7.3,7.5,7.6,7.0,7.7,7.6,"$18,335,230",42403567,"$60,738,797"
50/50Â (2011),3,7.7,283935,Comedy,Drama,Romance,72.0,8000000.0,100 min,28304,...,7.4,7.4,7.5,7.4,7.0,7.9,7.6,"$35,014,192",4173591,"$39,187,783"
About TimeÂ (2013),4,7.8,225412,Comedy,Drama,Fantasy,NaN,12000000.0,123 min,38556,...,7.6,7.5,7.8,7.7,6.9,7.8,7.7,"$15,322,921",71777528,"$87,100,449"
AmourÂ (2012),5,7.9,76121,Drama,Romance,NaN,94.0,8900000.0,127 min,11093,...,7.9,7.8,8.1,6.6,7.2,7.9,7.8,"$6,739,492",13100000,"$19,839,492"

### Choose only a subset of columns to be read

In [8]:
df = pd.read_csv('IMDB.csv', encoding = "ISO-8859-1", usecols=['Title', 'Genre1'])
df.head()

                      Title     Genre1
0  12 Years a SlaveÂ (2013)  Biography
1         127 HoursÂ (2010)  Adventure
2             50/50Â (2011)     Comedy
3        About TimeÂ (2013)     Comedy
4             AmourÂ (2012)      Drama

### Handling Missing and NA data

```
NaN: ”, ‘#N/A’, ‘#N/A N/A’, ‘#NA’, ‘-1.#IND’, ‘-1.#QNAN’, ‘-NaN’, ‘-nan’, ‘1.#IND’, ‘1.#QNAN’, ‘N/A’, ‘NA’, ‘NULL’, ‘NaN’, ‘nan’`.
```

In [9]:
df = pd.read_csv('IMDB.csv', encoding = "ISO-8859-1", na_values=[''])

### Choose whether to skip over blank rows or not

In [10]:
df = pd.read_csv('IMDB.csv', encoding = "ISO-8859-1", skip_blank_lines=False)

## Data Parsing options

### Skip rows

In [11]:
df = pd.read_csv('IMDB.csv', encoding = "ISO-8859-1", skiprows = [1,3,7])
df.head()

,X,Title,Rating,TotalVotes,Genre1,Genre2,Genre3,MetaCritic,Budget,Runtime,...,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS,Domestic,Foreign,Worldwide
0,2,127 HoursÂ (2010),7.6,297075,Adventure,Biography,Drama,82.0,18000000.0,94 min,...,7.3,7.3,7.5,7.6,7.0,7.7,7.6,"$18,335,230",42403567,"$60,738,797"
1,4,About TimeÂ (2013),7.8,225412,Comedy,Drama,Fantasy,NaN,12000000.0,123 min,...,7.6,7.5,7.8,7.7,6.9,7.8,7.7,"$15,322,921",71777528,"$87,100,449"
2,5,AmourÂ (2012),7.9,76121,Drama,Romance,NaN,94.0,8900000.0,127 min,...,7.9,7.8,8.1,6.6,7.2,7.9,7.8,"$6,739,492",13100000,"$19,839,492"
3,6,ArgoÂ (2012),7.7,486840,Action,Biography,Drama,86.0,44500000.0,120 min,...,7.7,7.7,8.0,8.1,7.2,8.0,7.6,"$136,025,503",96300000,"$232,325,503"
4,9,Before MidnightÂ (2013),7.9,106553,Drama,Romance,NaN,94.0,3000000.0,109 min,...,7.3,7.4,7.2,8.5,7.0,8.0,7.9,"$8,114,627",3061842,"$11,176,469"

### Skip rows from footer or from end of the file

In [12]:
df.tail(2)
df = pd.read_csv('IMDB.csv', encoding = "ISO-8859-1", skipfooter=2, engine='python')
df.tail(2)

,X,Title,Rating,TotalVotes,Genre1,Genre2,Genre3,MetaCritic,Budget,Runtime,...,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS,Domestic,Foreign,Worldwide
112,117,X-Men: First ClassÂ (2011),7.8,556713,Action,Adventure,Sci-Fi,65.0,160000000.0,132 min,...,7.6,7.5,7.7,7.6,7.3,7.8,7.7,"$146,408,305",207215819,"$353,624,124"
113,118,ZootopiaÂ (2016),8.1,309474,Animation,Adventure,Comedy,78.0,150000000.0,108 min,...,7.8,7.8,8.1,7.7,7.6,8.0,8.0,"$341,268,248",682515947,"$1,023,784,195"

,X,Title,Rating,TotalVotes,Genre1,Genre2,Genre3,MetaCritic,Budget,Runtime,...,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS,Domestic,Foreign,Worldwide
113,115,Wreck-It RalphÂ (2012),7.7,295125,Animation,Adventure,Comedy,72.0,165000000.0,NaN,...,7.4,7.4,7.5,7.4,7.2,7.9,7.6,"$189,422,889",281800000,"$471,222,889"
114,116,X-Men: Days of Future PastÂ (2014),8.0,560736,Action,Adventure,Sci-Fi,74.0,200000000.0,132 min,...,7.7,7.7,7.9,7.5,7.4,8.1,7.9,"$233,921,534",513941241,"$747,862,775"

### Reading only a subset of the file or a certain number of rows

In [13]:
df = pd.read_csv('IMDB.csv', encoding = "ISO-8859-1", nrows=100)
df.shape

(100, 58)

# Reading data from excel files

## Basic Excel read

In [14]:
df = pd.read_excel('IMDB.xlsx')
df.head()

,X,Title,Rating,TotalVotes,Genre1,Genre2,Genre3,MetaCritic,Budget,Runtime,...,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS,Domestic,Foreign,Worldwide
0,1,12 Years a Slave (2013),8.1,496092,Biography,Drama,History,96.0,20000000.0,134 min,...,7.8,7.8,8.1,8.0,7.7,8.3,8.0,"$56,671,993",131061209,"$187,733,202"
1,2,127 Hours (2010),7.6,297075,Adventure,Biography,Drama,82.0,18000000.0,94 min,...,7.3,7.3,7.5,7.6,7.0,7.7,7.6,"$18,335,230",42403567,"$60,738,797"
2,3,50/50 (2011),7.7,283935,Comedy,Drama,Romance,72.0,8000000.0,100 min,...,7.4,7.4,7.5,7.4,7.0,7.9,7.6,"$35,014,192",4173591,"$39,187,783"
3,4,About Time (2013),7.8,225412,Comedy,Drama,Fantasy,NaN,12000000.0,123 min,...,7.6,7.5,7.8,7.7,6.9,7.8,7.7,"$15,322,921",71777528,"$87,100,449"
4,5,Amour (2012),7.9,76121,Drama,Romance,NaN,94.0,8900000.0,127 min,...,7.9,7.8,8.1,6.6,7.2,7.9,7.8,"$6,739,492",13100000,"$19,839,492"

## Advanced read options

```
pandas.read_excel(io, sheetname=0, header=0, skiprows=None, skip_footer=0, index_col=None, names=None, parse_cols=None, parse_dates=False, date_parser=None, na_values=None, thousands=None, convert_float=True, has_index_names=None, converters=None, dtype=None, true_values=None, false_values=None, engine=None, squeeze=False, **kwds)
```

**from [Pandas Doc](http://pandas.pydata.org/pandas-docs/version/0.20/generated/pandas.read_excel.html)

### Which Sheet to read?

In [15]:
df = pd.read_excel('IMDB.xlsx', sheetname=0)
df.head()

C:\Users\suwarnar\AppData\Local\Continuum\anaconda2\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

,X,Title,Rating,TotalVotes,Genre1,Genre2,Genre3,MetaCritic,Budget,Runtime,...,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS,Domestic,Foreign,Worldwide
0,1,12 Years a Slave (2013),8.1,496092,Biography,Drama,History,96.0,20000000.0,134 min,...,7.8,7.8,8.1,8.0,7.7,8.3,8.0,"$56,671,993",131061209,"$187,733,202"
1,2,127 Hours (2010),7.6,297075,Adventure,Biography,Drama,82.0,18000000.0,94 min,...,7.3,7.3,7.5,7.6,7.0,7.7,7.6,"$18,335,230",42403567,"$60,738,797"
2,3,50/50 (2011),7.7,283935,Comedy,Drama,Romance,72.0,8000000.0,100 min,...,7.4,7.4,7.5,7.4,7.0,7.9,7.6,"$35,014,192",4173591,"$39,187,783"
3,4,About Time (2013),7.8,225412,Comedy,Drama,Fantasy,NaN,12000000.0,123 min,...,7.6,7.5,7.8,7.7,6.9,7.8,7.7,"$15,322,921",71777528,"$87,100,449"
4,5,Amour (2012),7.9,76121,Drama,Romance,NaN,94.0,8900000.0,127 min,...,7.9,7.8,8.1,6.6,7.2,7.9,7.8,"$6,739,492",13100000,"$19,839,492"

## Reading data from multiple sheets in an excel file

## Find out the sheet list of the excel file

In [18]:
xls_file = pd.ExcelFile('IMDB.xlsx')
xls_file.sheet_names

[u'movies', u'by genre']

In [19]:
df1 = xls_file.parse('movies')
df2 = xls_file.parse('by genre')
df1.head()
df2.head()

,X,Title,Rating,TotalVotes,Genre1,Genre2,Genre3,MetaCritic,Budget,Runtime,...,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS,Domestic,Foreign,Worldwide
0,1,12 Years a Slave (2013),8.1,496092,Biography,Drama,History,96.0,20000000.0,134 min,...,7.8,7.8,8.1,8.0,7.7,8.3,8.0,"$56,671,993",131061209,"$187,733,202"
1,2,127 Hours (2010),7.6,297075,Adventure,Biography,Drama,82.0,18000000.0,94 min,...,7.3,7.3,7.5,7.6,7.0,7.7,7.6,"$18,335,230",42403567,"$60,738,797"
2,3,50/50 (2011),7.7,283935,Comedy,Drama,Romance,72.0,8000000.0,100 min,...,7.4,7.4,7.5,7.4,7.0,7.9,7.6,"$35,014,192",4173591,"$39,187,783"
3,4,About Time (2013),7.8,225412,Comedy,Drama,Fantasy,NaN,12000000.0,123 min,...,7.6,7.5,7.8,7.7,6.9,7.8,7.7,"$15,322,921",71777528,"$87,100,449"
4,5,Amour (2012),7.9,76121,Drama,Romance,NaN,94.0,8900000.0,127 min,...,7.9,7.8,8.1,6.6,7.2,7.9,7.8,"$6,739,492",13100000,"$19,839,492"

,X,Title,Rating,TotalVotes,Genre1,Genre2,Genre3,MetaCritic,Budget,Runtime,...,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS,Domestic,Foreign,Worldwide
0,1,12 Years a Slave (2013),8.1,496092,Biography,Drama,History,96.0,20000000.0,134 min,...,7.8,7.8,8.1,8.0,7.7,8.3,8.0,"$56,671,993",131061209,"$187,733,202"
1,2,127 Hours (2010),7.6,297075,Adventure,Biography,Drama,82.0,18000000.0,94 min,...,7.3,7.3,7.5,7.6,7.0,7.7,7.6,"$18,335,230",42403567,"$60,738,797"
2,3,50/50 (2011),7.7,283935,Comedy,Drama,Romance,72.0,8000000.0,100 min,...,7.4,7.4,7.5,7.4,7.0,7.9,7.6,"$35,014,192",4173591,"$39,187,783"
3,4,About Time (2013),7.8,225412,Comedy,Drama,Fantasy,NaN,12000000.0,123 min,...,7.6,7.5,7.8,7.7,6.9,7.8,7.7,"$15,322,921",71777528,"$87,100,449"
4,5,Amour (2012),7.9,76121,Drama,Romance,NaN,94.0,8900000.0,127 min,...,7.9,7.8,8.1,6.6,7.2,7.9,7.8,"$6,739,492",13100000,"$19,839,492"

## Choose Header or column labels

In [20]:
df = pd.read_excel('IMDB.xlsx', sheetname=1, header=3)
df.head()

,3,50/50 (2011),7.7,283935,Comedy,Drama,Romance,72,8000000,100 min,...,7.4,7.4.1,7.5,7.4.2,7,7.9.3,7.6.3,"$35,014,192",4173591,"$39,187,783"
0,4,About Time (2013),7.8,225412,Comedy,Drama,Fantasy,NaN,12000000.0,123 min,...,7.6,7.5,7.8,7.7,6.9,7.8,7.7,"$15,322,921",71777528,"$87,100,449"
1,5,Amour (2012),7.9,76121,Drama,Romance,NaN,94.0,8900000.0,127 min,...,7.9,7.8,8.1,6.6,7.2,7.9,7.8,"$6,739,492",13100000,"$19,839,492"
2,6,Argo (2012),7.7,486840,Action,Biography,Drama,86.0,44500000.0,120 min,...,7.7,7.7,8.0,8.1,7.2,8.0,7.6,"$136,025,503",96300000,"$232,325,503"
3,7,Arrival (2016),8.0,370842,Drama,Mystery,Sci-Fi,81.0,47000000.0,116 min,...,7.6,7.6,7.7,8.3,7.3,8.0,7.9,"$100,546,139",102842047,"$203,388,186"
4,9,Before Midnight (2013),7.9,106553,Drama,Romance,NaN,94.0,3000000.0,109 min,...,7.3,7.4,7.2,8.5,7.0,8.0,7.9,"$8,114,627",3061842,"$11,176,469"

## No header

In [21]:
df = pd.read_excel('IMDB.xlsx', sheetname=1, header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,X,Title,Rating,TotalVotes,Genre1,Genre2,Genre3,MetaCritic,Budget,Runtime,...,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS,Domestic,Foreign,Worldwide
1,1,12 Years a Slave (2013),8.1,496092,Biography,Drama,History,96,20000000,134 min,...,7.8,7.8,8.1,8,7.7,8.3,8,"$56,671,993",131061209,"$187,733,202"
2,2,127 Hours (2010),7.6,297075,Adventure,Biography,Drama,82,18000000,94 min,...,7.3,7.3,7.5,7.6,7,7.7,7.6,"$18,335,230",42403567,"$60,738,797"
3,3,50/50 (2011),7.7,283935,Comedy,Drama,Romance,72,8000000,100 min,...,7.4,7.4,7.5,7.4,7,7.9,7.6,"$35,014,192",4173591,"$39,187,783"
4,4,About Time (2013),7.8,225412,Comedy,Drama,Fantasy,NaN,12000000,123 min,...,7.6,7.5,7.8,7.7,6.9,7.8,7.7,"$15,322,921",71777528,"$87,100,449"

## Skip Rows at the beginning of the file

In [22]:
df = pd.read_excel('IMDB.xlsx', sheetname=1, skiprows=7)

## Skip rows from the end of the file

In [23]:
df = pd.read_excel('IMDB.xlsx', sheetname=1, ski_footer=10)

## Choose Columns

In [24]:
df = pd.read_excel('IMDB.xlsx', sheetname= 0, parse_cols=2)
df.head()

C:\Users\suwarnar\AppData\Local\Continuum\anaconda2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: the 'parse_cols' keyword is deprecated, use 'usecols' instead
  """Entry point for launching an IPython kernel.

   X                    Title  Rating
0  1  12 Years a Slave (2013)     8.1
1  2         127 Hours (2010)     7.6
2  3             50/50 (2011)     7.7
3  4        About Time (2013)     7.8
4  5             Amour (2012)     7.9

## Column Names

In [38]:
df = pd.read_excel('IMDB.xlsx', sheetname=0, parse_cols = 2, names=['X','Title', 'Rating'], )
df.head()

C:\Users\suwarnar\AppData\Local\Continuum\anaconda2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: the 'parse_cols' keyword is deprecated, use 'usecols' instead
  """Entry point for launching an IPython kernel.

   X                    Title  Rating
0  1  12 Years a Slave (2013)     8.1
1  2         127 Hours (2010)     7.6
2  3             50/50 (2011)     7.7
3  4        About Time (2013)     7.8
4  5             Amour (2012)     7.9

## Set an Index while reading data

In [37]:
df = pd.read_excel('IMDB.xlsx', sheetname=0, index_col='Title')
df.head()

,X,Rating,TotalVotes,Genre1,Genre2,Genre3,MetaCritic,Budget,Runtime,CVotes10,...,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS,Domestic,Foreign,Worldwide
Title,,,,,,,,,,,,,,,,,,,,,
12 Years a Slave (2013),1,8.1,496092,Biography,Drama,History,96.0,20000000.0,134 min,75556,...,7.8,7.8,8.1,8.0,7.7,8.3,8.0,"$56,671,993",131061209,"$187,733,202"
127 Hours (2010),2,7.6,297075,Adventure,Biography,Drama,82.0,18000000.0,94 min,28939,...,7.3,7.3,7.5,7.6,7.0,7.7,7.6,"$18,335,230",42403567,"$60,738,797"
50/50 (2011),3,7.7,283935,Comedy,Drama,Romance,72.0,8000000.0,100 min,28304,...,7.4,7.4,7.5,7.4,7.0,7.9,7.6,"$35,014,192",4173591,"$39,187,783"
About Time (2013),4,7.8,225412,Comedy,Drama,Fantasy,NaN,12000000.0,123 min,38556,...,7.6,7.5,7.8,7.7,6.9,7.8,7.7,"$15,322,921",71777528,"$87,100,449"
Amour (2012),5,7.9,76121,Drama,Romance,NaN,94.0,8900000.0,127 min,11093,...,7.9,7.8,8.1,6.6,7.2,7.9,7.8,"$6,739,492",13100000,"$19,839,492"

## Handle missing data while reading

In [29]:
df = pd.read_excel('IMDB.xlsx', sheetname= 0, na_values=[' '])

# Reading data from some other popular formats

## Reading JSON data into Pandas

In [30]:
movies_json = pd.read_json('IMDB.json')
movies_json.head()

,Budget,CVotes01,CVotes02,CVotes03,CVotes04,CVotes05,CVotes06,CVotes07,CVotes08,CVotes09,...,VotesF,VotesIMDB,VotesM,VotesU18,VotesU18F,VotesU18M,VotesUS,VotesnUS,Worldwide,X
0,20000000,4739,1785,2420,4021,9603,27231,83070,161460,126223,...,8.1,8.0,8.1,8.4,8.5,8.4,8.3,8,"$187,733,202",1
1,18000000,2059,1161,1930,3796,9403,28394,78451,98845,44110,...,7.6,7.6,7.6,7.9,7.9,7.9,7.7,7.6,"$60,738,797",2
2,8000000,1202,634,1109,2381,7545,24252,71485,99524,47501,...,7.7,7.4,7.7,7.9,7.9,7.9,7.9,7.6,"$39,187,783",3
3,12000000,1182,664,1084,2210,5673,16542,45487,70850,43170,...,7.9,7.7,7.8,8.2,8.3,8.1,7.8,7.7,"$87,100,449",4
4,8900000,995,534,710,1188,2585,5945,14187,22942,15944,...,7.9,6.6,7.8,8.6,8.5,8.7,7.9,7.8,"$19,839,492",5

## Reading HTML data

In [4]:
pd.read_html('IMDB.html')

[      0                                                  1       2   \
 0      X                                              Title  Rating
 1      1                             12 Years a Slave(2013)     8.1
 2      2                                   127 Hours (2010)     7.6
 3      3                                       50/50 (2011)     7.7
 4      4                                  About Time (2013)     7.8
 5      5                                       Amour (2012)     7.9
 6      6                                        Argo (2012)     7.7
 7      7                                     Arrival (2016)       8
 8      9                             Before Midnight (2013)     7.9
 9     10                                  Big Hero 6 (2014)     7.8
 10    11  Birdman or (The Unexpected Virtue of Ignorance...     7.8
 11    12                                  Black Swan (2010)       8
 12    13                                     Boyhood (2014)     7.9
 13    14                             Bridge of Spies (2015)     7.6
 14    15                  Captain America: Civil War (2016)     7.9
 15    16         Captain America: The Winter Soldier (2014)     7.8
 16    17                           Captain Fantastic (2016)     7.9
 17    18                            Captain Phillips (2013)     7.8
 18    19                                       Creed (2015)     7.6
 19    20                          Dallas Buyers Club (2013)       8
 20    21              Dawn of the Planet of the Apes (2014)     7.6
 21    22                                    Deadpool (2016)       8
 22    23                               Despicable Me (2010)     7.7
 23    24                                  Detachment (2011)     7.7
 24    25                                  Disconnect (2012)     7.6
 25    26                            Django Unchained (2012)     8.4
 26    27                              Doctor Strange (2016)     7.6
 27    28                                       Drive (2011)     7.8
 28    29                            Edge of Tomorrow (2014)     7.9
 29    30                                End of Watch (2012)     7.7
 ..   ...                                                ...     ...
 88    89                      The Fault in Our Stars (2014)     7.8
 89    90                                 The Fighter (2010)     7.8
 90    91             The Girl with the Dragon Tattoo (2011)     7.8
 91    92                    The Grand Budapest Hotel (2014)     8.1
 92    93                                    The Help (2011)     8.1
 93    94           The Hobbit: An Unexpected Journey (2012)     7.9
 94    95         The Hobbit: The Desolation of Smaug (2013)     7.9
 95    96             The Hunger Games: Catching Fire (2013)     7.6
 96    97                          The Imitation Game (2014)     8.1
 97    98                           The King's Speech (2010)       8
 98    99                              The Lego Movie (2014)     7.8
 99   100                           The Little Prince (2015)     7.8
 100  101                                 The Martian (2015)       8
 101  102             The Perks of Being a Wallflower (2012)       8
 102  103                                The Revenant (2015)       8
 103  104                          The Social Network (2010)     7.7
 104  105                    The Theory of Everything (2014)     7.7
 105  106                                    The Town (2010)     7.6
 106  107                     The Wolf of Wall Street (2013)     8.2
 107  108                                 Toy Story 3 (2010)     8.3
 108  109                                   True Grit (2010)     7.6
 109  110                     Tucker and Dale vs Evil (2010)     7.6
 110  111                                 Tyrannosaur (2011)     7.6
 111  112                                     Warrior (2011)     8.2
 112  113                   What We Do in the Shadows (2014)     7.6
 113  114                                    Whiplash (2014)     8.5
 114  115                              Wreck-It Ralph (2012)     7.7
 115  116                  X-Men: Days of Future Past (2014)       8
 116  117                          X-Men: First Class (2011)     7.8
 117  118                                    Zootopia (2016)     8.1

              3       4          5          6           7       8        9   \
 0    TotalVotes  Genre1     Genre2     Genre3  MetaCritic  Budget  Runtime
 1           496     092  Biography      Drama     History      96       20
 2           297     075  Adventure  Biography       Drama      82       18
 3           283     935     Comedy      Drama     Romance      72        8
 4           225     412     Comedy      Drama     Fantasy     NaN       12
 5            76     121      Drama    Romance         NaN      94        8
 6           486     840     Action  Biography       Drama      86       44
 7           370     842      Drama    Mystery      Sci-Fi      81       47
 8           106     553      Drama    Romance         NaN      94        3
 9           315     485  Animation     Action   Adventure      74      165
 10          448     725     Comedy      Drama         NaN      88       18
 11          587     893      Drama   Thriller         NaN      79       13
 12          290     327      Drama        NaN         NaN     100        4
 13          223     756      Drama    History    Thriller      81       40
 14          431     555     Action  Adventure      Sci-Fi      75      250
 15          552     706     Action  Adventure      Sci-Fi      70      170
 16          115     194     Comedy      Drama         NaN      72        5
 17          350     818  Biography      Drama    Thriller      83       55
 18          179     795      Drama      Sport         NaN      82       35
 19          357     641  Biography      Drama         NaN      84        5
 20          349     646     Action  Adventure       Drama      79      170
 21          652     127     Action  Adventure      Comedy      65       58
 22          417     592  Animation  Adventure      Comedy      72       69
 23           62     352      Drama        NaN         NaN     NaN      NaN
 24           65     448      Drama   Thriller         NaN      64       10
 25            1     056        822      Drama     Western     NaN       81
 26          328     932     Action  Adventure     Fantasy      72      165
 27          467     642      Crime      Drama         NaN      78       15
 28          480     513     Action  Adventure      Sci-Fi      71      178
 29          194     675      Crime      Drama    Thriller      68        7
 ..          ...     ...        ...        ...         ...     ...      ...
 88          276     272      Drama    Romance         NaN      69       12
 89          292     823     Action  Biography       Drama      79       25
 90          352     566      Crime      Drama     Mystery      71       90
 91          541     526  Adventure     Comedy       Drama      88       25
 92          347     299      Drama        NaN         NaN      62       25
 93          675     678  Adventure    Fantasy         NaN     NaN      180
 94          520     084  Adventure    Fantasy         NaN      66      225
 95          531     466     Action  Adventure     Mystery      76      130
 96          540     489  Biography      Drama    Thriller      73       14
 97          540     240  Biography      Drama         NaN      88       15
 98          271     515  Animation     Action   Adventure      83       60
 99           40     777  Animation  Adventure       Drama      70       81
 100         569     347  Adventure      Drama      Sci-Fi      80      108
 101         382     665      Drama    Romance         NaN      67       13
 102         512     526  Adventure      Drama    Thriller      76      135
 103         516     417  Biography      Drama         NaN      95       40
 104         305     145  Biography      Drama     Romance      72       15
 105         297     426      Crime      Drama    Thriller      74       37
 106         881     984  Biography     Comedy       Crime      75      100
 107         596     385  Animation  Adventure      Comedy      92      200
 108         257     670  Adventure      Drama     Western      80       38
 109         138     624     Comedy     Horror         NaN      65        5
 110          26     016      Drama        NaN         NaN      65        1
 111         361     049     Action      Drama       Sport      71       25
 112          87     975     Comedy     Horror         NaN      76        1
 113         492     285      Drama      Music         NaN      88        3
 114         295     125  Animation  Adventure      Comedy      72      165
 115         560     736     Action  Adventure      Sci-Fi      74      200
 116         556     713     Action  Adventure      Sci-Fi      65      160
 117         309     474  Animation  Adventure      Comedy      78      150

        ...            48         49         50         51         52       53  \
 0      ...      Votes45A  Votes45AM  Votes45AF  VotesIMDB  Votes1000  VotesUS
 1      ...           8.0        7.9        8.0        7.8        7.8      8.1
 2      ...           7.5        7.5        7.5        7.3        7.3      7.5
 3      ...           7.6        7.6        7.6        7.4        7.4      7.5
 4      ...           7.6        7.6        7.7        7.6        7.5      7.8
 5      ...           7.7        7.7        7.9        7.9        7.8      8.1
 6      ...           7.7        7.6        7.8        7.7        7.7      8.0
 7      ...           7.8        7.8        7.8        7.6        7.6      7.7
 8      ...           7.8        7.8        7.6        7.3        7.4      7.2
 9      ...           7.7        7.6        8.0        7.6        7.6      7.9
 10     ...           7.6        7.6        7.3        7.2        7.3      7.0
 11     ...           7.9        7.9        8.0        7.5        7.5      7.4
 12     ...           7.8        7.8        7.6        7.7        7.7      7.7
 13     ...           7.5        7.5        7.5        7.7        7.6      7.9
 14     ...           7.7        7.7        7.8        7.6        7.6      7.9
 15     ...           7.6        7.6        7.7        7.7        7.6      7.8
 16     ...           7.8        7.7        7.9        7.7        7.6      7.9
 17     ...           7.7        7.7        7.8        7.7        7.7      8.0
 18     ...           7.4        7.4        7.4        7.3        7.3      7.5
 19     ...           7.8        7.8        8.0        7.8        7.8      8.0
 20     ...           7.5        7.5        7.4        7.4        7.4      7.4
 21     ...           7.9        7.9        7.9        7.8        7.8      7.9
 22     ...           7.6        7.5        7.9        7.6        7.5      7.9
 23     ...           7.7        7.5        7.5        7.7        6.7      6.5
 24     ...           7.5        7.5        7.4        7.4        7.4      7.6
 25     ...           8.5        8.3        8.3        8.3        8.0      8.0
 26     ...           7.4        7.4        7.7        7.5        7.4      7.8
 27     ...           7.7        7.8        7.5        7.4        7.4      7.4
 28     ...           7.8        7.8        7.7        7.8        7.8      7.8
 29     ...           7.5        7.5        7.5        7.4        7.4      7.5
 ..     ...           ...        ...        ...        ...        ...      ...
 88     ...           7.6        7.6        7.8        7.6        7.5      7.7
 89     ...           7.8        7.8        7.7        7.7        7.7      7.7
 90     ...           7.7        7.7        7.8        7.7        7.7      7.9
 91     ...           7.9        7.9        8.0        7.8        7.8      7.9
 92     ...           7.9        7.8        8.3        8.0        7.9      8.3
 93     ...           7.7        7.7        7.9        7.7        7.6      8.0
 94     ...           7.7        7.7        7.9        7.7        7.6      7.9
 95     ...           7.3        7.2        7.9        7.3        7.2      7.9
 96     ...           7.8        7.8        8.1        8.0        7.9      8.3
 97     ...           7.9        7.9        8.2        8.1        8.0      8.5
 98     ...           7.6        7.6        7.5        7.4        7.4      7.4
 99     ...           7.6        7.5        7.9        7.5        7.4      7.9
 100    ...           7.9        7.9        7.9        8.0        7.9      8.2
 101    ...           7.8        7.8        7.8        7.7        7.7      7.7
 102    ...           7.9        7.9        7.7        7.8        7.8      7.8
 103    ...           7.6        7.7        7.3        7.5        7.5      7.4
 104    ...           7.5        7.5        7.7        7.6        7.6      7.8
 105    ...           7.5        7.5        7.3        7.4        7.4      7.5
 106    ...           8.0        8.1        7.7        7.6        7.6      7.5
 107    ...           8.2        8.2        8.3        8.1        8.1      8.1
 108    ...           7.6        7.6        7.5        7.7        7.7      7.7
 109    ...           7.5        7.5        7.7        7.5        7.4      7.7
 110    ...           7.5        7.6        7.5        7.5        7.4      5.8
 111    ...           8.0        8.0        8.0        7.7        7.7      7.5
 112    ...           7.5        7.4        7.8        7.3        7.3      7.7
 113    ...           8.3        8.3        8.2        8.1        8.1      8.2
 114    ...           7.6        7.6        7.7        7.4        7.4      7.5
 115    ...           7.8        7.8        8.0        7.7        7.7      7.9
 116    ...           7.7        7.6        7.8        7.6        7.5      7.7
 117    ...           7.8        7.8        8.1        7.8        7.8      8.1

            54        55       56         57
 0    VotesnUS  Domestic  Foreign  Worldwide
 1         8.0       7.7      8.3        8.0
 2         7.6       7.0      7.7        7.6
 3         7.4       7.0      7.9        7.6
 4         7.7       6.9      7.8        7.7
 5         6.6       7.2      7.9        7.8
 6         8.1       7.2      8.0        7.6
 7         8.3       7.3      8.0        7.9
 8         8.5       7.0      8.0        7.9
 9         7.9       7.2      7.9        7.7
 10        7.8       7.1      7.9        7.7
 11        7.9       7.6      8.0        8.0
 12        8.2       7.2      8.0        7.9
 13        7.7       7.4      7.7        7.5
 14        7.7       7.5      8.1        7.7
 15        7.6       7.5      8.1        7.5
 16        8.5       6.8      7.8        7.8
 17        8.0       7.4      7.8        7.8
 18        7.8       7.1      7.9        7.5
 19        7.9       7.2      8.0        7.9
 20        7.2       7.4      7.8        7.5
 21        8.0       7.3      8.1        7.9
 22        7.4       7.0      7.6        7.6
 23        7.5       7.7      $72        689
 24        5.9       6.4      7.4        7.5
 25        8.1       8.0      7.8        8.4
 26        7.7       7.1      7.6        7.4
 27        7.8       7.6      8.0        7.8
 28        8.1       7.5      8.0        7.8
 29        7.9       6.5      7.7        7.6
 ..        ...       ...      ...        ...
 88        7.5       6.8      7.6        7.7
 89        7.6       7.3      8.0        7.8
 90        7.9       7.4      8.0        7.8
 91        8.0       7.7      8.1        8.0
 92        7.9       7.0      8.0        8.0
 93        7.0       7.5      7.8        7.8
 94        7.1       7.5      7.8        7.8
 95        7.3       6.7      7.7        7.4
 96        8.2       7.3      8.0        8.0
 97        7.9       7.7      8.2        8.0
 98        8.1       7.2      8.0        7.6
 99        7.0       6.6      7.7        7.7
 100       8.2       7.8      8.1        7.9
 101       8.2       7.0      8.1        7.9
 102       8.3       7.6      8.1        7.9
 103       8.0       7.3      8.0        7.6
 104       8.1       6.9      7.5        7.6
 105       7.6       7.0      7.8        7.5
 106       7.8       7.8      8.1        8.1
 107       8.1       8.1      8.5        8.3
 108       7.8       7.3      7.9        7.6
 109       7.5       7.1      7.7        7.5
 110       6.5       7.4      7.6        NaN
 111       7.8       7.1      8.2        8.1
 112       7.7       6.8      7.7        7.5
 113       8.7       8.0      8.6        8.4
 114       7.4       7.2      7.9        7.6
 115       7.5       7.4      8.1        7.9
 116       7.6       7.3      7.8        7.7
 117       7.7       7.6      8.0        8.0

 [118 rows x 58 columns]]

## Read a pickle file

In [33]:
df = pd.read_pickle('IMDB.p')
df.head()

ValueError: unsupported pickle protocol: 4

## Read SQL data

In [34]:
import sqlite3

In [35]:
conn = sqlite3.connect("IMDB.sqlite")
df = pd.read_sql_query("SELECT * FROM IMDB;", conn)
df.head()

,X,Title,Rating,TotalVotes,Genre1,Genre2,Genre3,MetaCritic,Budget,Runtime,...,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS,Domestic,Foreign,Worldwide
0,1,12 Years a Slave (2013),8.1,496092,Biography,Drama,History,96,20000000,134 min,...,7.8,7.8,8.1,8.0,7.7,8.3,8,"$56,671,993",131061209,"$187,733,202"
1,2,127 Hours (2010),7.6,297075,Adventure,Biography,Drama,82,18000000,94 min,...,7.3,7.3,7.5,7.6,7.0,7.7,7.6,"$18,335,230",42403567,"$60,738,797"
2,3,50/50 (2011),7.7,283935,Comedy,Drama,Romance,72,8000000,100 min,...,7.4,7.4,7.5,7.4,7.0,7.9,7.6,"$35,014,192",4173591,"$39,187,783"
3,4,About Time (2013),7.8,225412,Comedy,Drama,Fantasy,NA,12000000,123 min,...,7.6,7.5,7.8,7.7,6.9,7.8,7.7,"$15,322,921",71777528,"$87,100,449"
4,5,Amour (2012),7.9,76121,Drama,Romance,,94,8900000,127 min,...,7.9,7.8,8.1,6.6,7.2,7.9,7.8,"$6,739,492",13100000,"$19,839,492"

## Read data from clipboard

In [40]:
df = pd.read_clipboard()
df.head()

,CVotes10,CVotes09,CVotes08,CVotes07,CVotes06,CVotes05,CVotes04,CVotes03,CVotes02,CVotes01,CVotesMale,CVotesFemale,CVotesU18,CVotesU18M,CVotesU18F,CVotes1829,CVotes1829M,CVotes1829F
0,75556,126223,161460,83070,27231,9603,4021,2420,1785,4739,313823,82012,1837,1363,457,200910,153669,45301
1,28939,44110,98845,78451,28394,9403,3796,1930,1161,2059,212866,44600,745,567,170,133336,106007,26152
2,28304,47501,99524,71485,24252,7545,2381,1109,634,1202,188925,58348,506,348,153,132350,96269,34765
3,38556,43170,70850,45487,16542,5673,2210,1084,664,1182,126718,58098,654,325,321,92940,57778,34126
4,11093,15944,22942,14187,5945,2585,1188,710,534,995,49808,16719,121,95,24,28593,20107,8167